@section css {
    <link rel="stylesheet" href="~/Content/user/account.css">
}
@{
    ViewBag.Title = "ForgottenPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="breadcrumb">
    <ul class="breadcrumb__container">
        <li class="breadcrumb__list">
            <a class="link" href="@Url.Action("Index","Home")">Home</a>
        </li>
        &nbsp;|&nbsp;
        <li class="breadcrumb__list">
            <span class="text text--second">Forgotten Password</span>
        </li>
    </ul>
</nav>
<div class="title-box">
    <div class="title-box__container">
        <h1 class="text title-box__text">Forgotten Password</h1>
    </div>
</div>
<div class="account">
    <div class="account__container">
        @using (Html.BeginForm("ForgottenPassword", "Account", FormMethod.Post, new { @class = "form" }))
        {
            <div class="text text--fourth center" style="margin-bottom: 20px;">
                @ViewBag.Error
            </div>
            <div class="form__container">
                <div class="form__row">
                    <span class="text">Username :</span>
                    <input type="text" name="username" required>
                </div>
            </div>
            <div class="form__button">
                <button type="submit" class="button button-main">Submit</button>
            </div>
        }
    </div>
</div>